.sa-form{
	display: flex;
	align-items: end;
	gap: 1rem;
	flex-wrap: wrap;
	justify-content: space-between;
    
}
.zip-form-btn{
	color: #fff;
	width: 100%;
	background-color: #232222;
}

.zip-button{
	color: #fff !important;
	background-color: #232222 !important;
}

.zip-form-input{
	width: calc(50% - .5rem);
	display: flex;
	flex-direction: column;
}

.zip-form-fields{
	padding: .5rem .75rem !important;
	font-size: 1rem;
}

.zip-form-input label{
	font-size: 1.25rem;
}	

@media (max-width: 500px) {
	.zip-form-input label{
		font-size: .85rem;
	}	
}